[project]
	description = Trie Datastrcture Test In Dart
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jack Murphy (rightisleft)
[access "refs/for/refs/*"]
	read = group user/Jack Murphy (rightisleft)
	push = group user/Jack Murphy (rightisleft)
	label-Code-Review = -2..+2 group user/Jack Murphy (rightisleft)
	label-Verified = -1..+1 group user/Jack Murphy (rightisleft)
	rebase = group user/Jack Murphy (rightisleft)
	removeReviewer = group user/Jack Murphy (rightisleft)
	submit = group user/Jack Murphy (rightisleft)
[access "refs/heads/*"]
	read = group user/Jack Murphy (rightisleft)
	create = group user/Jack Murphy (rightisleft)
	push = +force group user/Jack Murphy (rightisleft)
	pushMerge = group user/Jack Murphy (rightisleft)
[access "refs/tags/*"]
	push = +force group user/Jack Murphy (rightisleft)
	pushTag = group user/Jack Murphy (rightisleft)
	pushSignedTag = group user/Jack Murphy (rightisleft)
